# fly.toml app configuration file generated for pr000-app on 2026-01-13T00:53:31Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'pr000-app'
primary_region = 'lhr'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1024mb'
  cpus = 1
  memory_mb = 1024