# fly.toml app configuration file generated for pr000-api on 2026-01-13T00:49:14Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'pr000-api'
primary_region = 'lhr'
console_command = '/code/manage.py shell'

[build]

[deploy]
  release_command = 'python manage.py migrate --noinput'

[env]
  PORT = '8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1024mb'
  cpus = 1
  memory_mb = 1024

[[statics]]
  guest_path = '/code/static'
  url_prefix = '/static/'
