# General dependencies
Django>=5.2.10
django-cors-headers==4.3.1
djangorestframework==3.15.2
psycopg2-binary==2.9.10
postgrest==2.27.1

# Level one dependencies
pydantic==2.12.5
anthropic==0.75.0
python-dotenv==1.2.1
requests==2.32.5